{% extends "layout.html" %} {% block content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>

<section>
  <h3>Discover and capture value from data in days, not in months or years.</h3>

  <h2>A Unified Analytics Platform</h2>
  <p>Connect, enrich, visualize, model, and consume insights from data.</p>
  <img
    src="https://assets.everspringpartners.com/dims4/default/c65c8ef/2147483647/strip/true/crop/620x250+0+0/resize/620x250!/format/webp/quality/90/?url=http%3A%2F%2Feverspring-brightspot.s3.us-east-1.amazonaws.com%2Fe4%2F2a%2Fe9a3904c4f17a084c100bbbb5eca%2Fdata-visualization-for-accountants-620x250.jpg"
    alt="Placeholder Image"
  />
</section>

<footer>&copy; 2024 XVector Labs. All rights reserved.</footer>
{% endblock %}
