{% extends "layout.html" %} {% block content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/visualization.css') }}"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="container mt-4">
  <h1 class="mb-4 text-info text-center">
    Explore Data Insights and Visualize Trends
  </h1>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="selected_data1" class="form-label">Select Data:1</label>
        <select name="selected_data1" id="selected_data1" class="form-control">
          {% for dataset in datasets %}
          <option value="{{ dataset.id }}">{{ dataset.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div id="result-container">
        <label for="result-list" class="form-label">Column:</label>
        <select id="result-list" class="form-control result-select"></select>
      </div>

      <div class="form-group">
        <label for="operation" class="form-label">Select operation:</label>
        <select name="operation" id="operation" class="form-control">
          <option value="sum">Sum</option>
          <option value="min">Min</option>
          <option value="max">Max</option>
        </select>
      </div>

      <button id="compute-btn" class="btn btn-primary btn-custom">
        Compute
      </button>
      <div
        id="computation-result"
        class="p-2 mt-3 rounded-pill text-info"
      ></div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="selected_data2" class="form-label">Select Data:2</label>
        <select name="selected_data2" id="selected_data2" class="form-control">
          {% for dataset in datasets %}
          <option value="{{ dataset.id }}">{{ dataset.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div id="result-container1">
        <label for="result-list1" class="form-label">Column1:</label>
        <select id="result-list1" class="form-control result-select"></select>
      </div>

      <div id="result-container2">
        <label for="result-list2" class="form-label">Column2:</label>
        <select id="result-list2" class="form-control result-select"></select>
      </div>

      <button id="plot-btn" class="btn btn-success btn-custom mt-3">
        Plot
      </button>
    </div>
  </div>
  <div id="myPlot" class="mt-3" style="width: 100%; height: 400px"></div>
</div>

<script src="{{ url_for('static', filename='scripts/bubbleplot.js') }}"></script>
<script>
  $(document).ready(function () {
    function fetchmethod(selectedId, selected_data) {
      $.ajax({
        url: '/dataset/' + selectedId + '/compute',
        type: 'GET',
        success: function (data) {
          // Clear the existing options
          // Construct the HTML string for all options
          var optionsHtml = '';
          $.each(data.integer_columns, function (index, item) {
            optionsHtml += '<option value="' + item + '">' + item + '</option>';
          });

          // Append the HTML string to the select dropdown
          if (selected_data === 'selected_data1') {
            $('#result-list').empty();
            $('#result-list').append(optionsHtml);
          } else if (selected_data === 'selected_data2') {
            $('#result-list1').empty();
            $('#result-list2').empty();
            $('#result-list1').append(optionsHtml);
            $('#result-list2').append(optionsHtml);
          }
        },
        error: function (error) {
          console.error('Error fetching data:', error);
          // Handle the error, e.g., display an alert
        },
      });
    }
    $('#selected_data1').on('change', function () {
      var selectedId = $(this).val();
      fetchmethod(selectedId, 'selected_data1');
    });
    $('#selected_data2').on('change', function () {
      var selectedId = $(this).val();
      fetchmethod(selectedId, 'selected_data2');
    });

    // Trigger the change event on page load for the initially selected option

    $('#selected_data1').trigger('change');
    $('#selected_data2').trigger('change');
    // Bind the click event handler for compute-btn
    // Bind the click event handler for compute-btn

    $('#compute-btn').on('click', function () {
      var selectedColumn = $('#result-list :selected').val();
      var selectedOperation = $('#operation').val();
      var selectedId = $('#selected_data1').val();

      // Perform the computation based on selectedColumn and selectedOperation
      $.ajax({
        url: '/dataset/' + selectedId + '/compute',
        type: 'POST',
        data: {
          selected_column: selectedColumn,
          operation: selectedOperation,
        },
        success: function (data) {
          $('#computation-result').text('Computation Result: ' + data.result);
          $('#computation-result').addClass('card');
        },
        error: function (error) {
          console.error('Error performing computation:', error);
        },
      });
    });

    $('#plot-btn').on('click', function () {
      var selectedColumn1 = $('#result-list1 :selected').val();
      var selectedColumn2 = $('#result-list2 :selected').val();
      var selectedId = $('#selected_data2').val();

      // Perform the computation based on selectedColumn and selectedOperation
      $.ajax({
        url: '/dataset/' + selectedId + '/plot',
        type: 'GET',
        data: {
          selected_column1: selectedColumn1,
          selected_column2: selectedColumn2,
        },
        success: function (data) {
          Bubbleplot(
            data.values_column1,
            data.values_column2,
            data.selected_column1,
            data.selected_column2
          );
          // Handle the result as needed, e.g., display it on the page
        },
        error: function (error) {
          console.error('Error performing computation:', error);
          // Handle the error, e.g., display an alert
        },
      });
    });
  });
</script>

{% endblock %}
