{% extends "layout.html" %} {% block content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/visualization.css') }}"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="container mt-4">
  <h1 class="mb-4 text-info text-center">
    Explore Data Insights and Visualize Trends
  </h1>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="selected_data1" class="form-label">Select Data:1</label>
        <select name="selected_data1" id="selected_data1" class="form-control">
          {% for dataset in datasets %}
          <option value="{{ dataset }}">{{ dataset }}</option>
          {% endfor %}
        </select>
      </div>

      <div id="result-container">
        <label for="result-list" class="form-label">Column:</label>
        <select id="result-list" class="form-control result-select"></select>
      </div>

      <div class="form-group">
        <label for="operation" class="form-label">Select operation:</label>
        <select name="operation" id="operation" class="form-control">
          <option value="sum">Sum</option>
          <option value="min">Min</option>
          <option value="max">Max</option>
        </select>
      </div>

      <button id="compute-btn" class="btn btn-primary btn-custom">
        Compute
      </button>
      <div
        id="computation-result"
        class="p-2 mt-3 rounded-pill text-info"
      ></div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="selected_data2" class="form-label">Select Data:2</label>
        <select name="selected_data2" id="selected_data2" class="form-control">
          {% for dataset in datasets %}
          <option value="{{ dataset }}">{{ dataset }}</option>
          {% endfor %}
        </select>
      </div>

      <div id="result-container1">
        <label for="result-list1" class="form-label">Column1:</label>
        <select id="result-list1" class="form-control result-select"></select>
      </div>

      <div id="result-container2">
        <label for="result-list2" class="form-label">Column2:</label>
        <select id="result-list2" class="form-control result-select"></select>
      </div>

      <button id="plot-btn" class="btn btn-success btn-custom mt-3">
        Plot
      </button>
    </div>
  </div>
  <div id="myPlot" class="mt-3" style="width: 100%; height: 400px"></div>
</div>
<script src="{{ url_for('static', filename='scripts/visualpagescript.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/bubbleplot.js') }}"></script>
{% endblock %}
